/* CSS Reset by Josh Comeau */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  width: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Colors */
:root {

  --primary-clr: hsl(25, 97%, 53%);

  --neutral-clr-100: hsl(0, 0%, 100%);
  --neutral-clr-300: hsl(217, 12%, 63%);
  --neutral-clr-400: hsl(216, 12%, 54%);
  --neutral-clr-700: hsl(213, 19%, 18%);
  --neutral-clr-800: hsl(216, 12%, 8%);

  --font-family: 'Overpass', sans-serif;
}


body {
  background: #000;
  color: var(--neutral-clr-100);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.star-logo {
  background-color: var(--neutral-clr-700);
  border-radius: 50%;
  padding: 1rem;
}

main {
  max-width: 400px;
  background: radial-gradient(circle at top, var(--neutral-clr-700), var(--neutral-clr-800));
  padding: 2rem;
  border-radius: 2rem;
  height: 410px;
}

.ratingState, .submitState {
  display: grid;
  gap: 1.5rem;
}

h1 {
  font-size: 1.75rem;
}
.ratingState h1 {
  margin-bottom: -1rem;
  margin-top: 0.125rem;
}

.submitState {
  justify-items: center;
  text-align: center;
}
.submitState img {
  margin-top: 1rem;
}

form input[type="radio"]{
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  /* Not removed via appearance */
  margin: 0;
}
.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

form label {
  background: var(--neutral-clr-700);
  color: var(--neutral-clr-300);
  height: 48px;
  width: 48px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

form label:hover {
  cursor: pointer;
}

form label:active {
  background: var(--primary-clr);
  color: var(--neutral-clr-100);
}

p {
  font-size: 15px;
  color: var(--neutral-clr-400);
}

button[type="submit"] {
  color: var(--neutral-clr-100);
  display: block;
  background: var(--primary-clr);
  padding: 0.8rem 0;
  border-radius: 1.5rem;
  width: 100%;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid var(--neutral-clr-800);
}

button[type="submit"]:active {
  background: var(--neutral-clr-100);
  color: var(--primary-clr);
}
.checked {
  background: var(--neutral-clr-300);
  color: var(--neutral-clr-100);
}

p.selection {
  background: var(--neutral-clr-700);
  color: var(--primary-clr);
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}

section.hidden {
  display: none;
}


.attribution {
  margin-top: 1rem;
}

.attribution span {
  font-size: 0.875rem;
  color: var(--neutral-clr-300);
}
.attribution span a {
  text-decoration: none;
  color: var(--primary-clr);
}
